.body{
  width: 100%;
  display: flex;
  justify-content: center;
}

mat-card{
  width: 90%;
  margin-top: 2rem;
}

.loading-spinner{
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.15);
}
